@import "tailwindcss";
@plugin "daisyui";
@import "react-responsive-carousel/lib/styles/carousel.min.css";

body {
  @apply font-sans; 
  font-family: 'Montserrat', sans-serif;
}

@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1024px;
}

.wave-clip {
  clip-path: path(
    "M0,120 C 40,60 90,260 190,160 C 300,50 900,190 480,170 C 600,130 680,150 720,140 L 720,320 L 0,320 Z"
    );
}

body {
  font-family: 'Montserrat', sans-serif;
}
